/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.enabled-color
{
	border-color:#2ECC71;
	color:#2ECC71;
}

.disabled-color
{
	border-color:#95A5A6;
	color:#95A5A6;
}

p .icon
{
	width:18px;
	height:28px;
	overflow:hidden;
}

.header-extra,
.center
{
	width:1000px;
	margin:0 auto;
}

.large-section textarea
{
	width:325px;
}

.section a
{
	display:block;
	margin-bottom:5px;
}

.results-area
{
	width:325px;
	height:150px;
	padding:5px 11px;
	border:1px solid #CBCBCB;
	border-radius:10px;
}

.column
{
	width:400px;
	height:1000px;
	display:inline-block;
	margin-left:20px;
	float:left;
}

.no-style
{
	list-style-type:none;
	margin:0;
	padding:0;
}

.conversation-starter textarea
{
	width:325px;
	height:70px;
	padding:5px 11px;
	border:1px solid #CBCBCB;
	border-radius:10px;
}

.header-extra h2
{
	display:inline-block;
	margin:0px 20px;
	float:left;
}