// Place all the styles related to the Campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.campaign-panel
{
	border-radius:10px;
	border:1px solid #CBCBCB;
	padding:0px 8px;
	width:300px;
	margin-bottom:10px;
}

.campaign-panel p
{
	margin-bottom:0px;
}