// Place all the styles related to the Campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.campaign-panel
{
	padding:0px 8px;
	width:300px;
	margin-bottom:10px;
	max-height:500px;
}

.campaign-panel p
{
	margin-bottom:0px;
}

li.campaign-item,
div.campaign-item,
a.campaign-item
{
	border:1px solid;
	border-radius:5px;
	margin-top:5px;
	display:block;
}

.campaign-item a 
{
	font-size:18px;
}

.conversation-error
{
	opacity:0;
	display:none;
}